
.ipynb_checkpoints/
.idea/
__pycache__/

data/
wandb/

*.whl
*.zip
*.tar.gz
*.session

**/dagster_home/*
!**/dagster_home/*.yaml

gcs_keyfile.json

config_dev_db.yaml
config_dev_lake.yaml
config_prod_db.yaml
config_prod_lake.yaml
